In [ ]:
>>>a=7+8*2-6+8/2
>>>print(a)
21.0
>>>b=(7+8)*2-(6+8)/2
>>>print(b)
23.0

In [4]:
str1='Learning Python'+' is fun'
print(str1)

Learning Python is fun

In [7]:
str2='Learning Python'+\
' is fun'
print(str2)

Learning Python is fun

In [8]:
question1='Is your birthday in set1?\n'+\
'1 3 5 7\n'+\
'9 11 13 15\n'+\
'17 19 21 23\n'+\
'25 27 29 31\n'+\
'\nEnter 1 for Yes and 0 for No:'
print(question1)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 1 for Yes and 0 for No:

In [18]:
print('Hello,world')
print('Hello,',end='')
print('world')
s='Hello,'+\
'world'
print(s)

Hello,world
Hello,world
Hello,world

In [19]:
8/3

2.6666666666666665

In [20]:
8//3

2

In [21]:
8**2

64

In [22]:
100**0.5

10.0

In [23]:
8%3

2

In [24]:
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [26]:
i=j=k=200
print(i,j,k)

200 200 200

In [27]:
a,b=100,200
print(a,b)

100 200

In [28]:
a=100
b=200
a=b
b=a
print(a,b)

200 200

In [29]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [30]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [42]:
a=10
a+=2
print(a)

12

In [43]:
a*=5
print(a)

60

In [44]:
a//=3
print(a)

20

In [45]:
a%=6
print(a)

2

In [46]:
k=eval(input())

3

In [47]:
k

3

In [48]:
print(k)

3

In [51]:
s=eval(input('Please enter an integer:'))

Please enter an integer:45

In [52]:
s

45

In [53]:
s2=input('Please enter a string:')

Please enter a string:Hello,world

In [54]:
s2

'Hello,world'

In [55]:
print(s2)

Hello,world

In [56]:
str2=input('Please enter an integer:')

Please enter an integer:88

In [57]:
print(str2)

88

In [58]:
str2

'88'

In [59]:
str2=input('Please enter an integer:')

Please enter an integer:88

In [60]:
num=str2+100

TypeError: can only concatenate str (not "int") to str

In [61]:
str2=eval(input('Please enter an integer:'))

Please enter an integer:88

In [62]:
num=str2+80
print(num)

168

In [63]:
num1=eval(input('Please enter number1:'))

Please enter number1:100

In [64]:
num2=eval(input('Please enter number2:'))

Please enter number2:200

In [65]:
print(num1+num2)

300

In [66]:
num1,num2=eval(input('Enter two numbers separated by comma:'))

Enter two numbers separated by comma:100,200

In [67]:
print(num1+num2)

300

In [70]:
num1,num2,num3=eval(input('Enter three numbers separated by commas:'))
total=num1+num2+num3
average=total/3
print('total= %d,and average=%f'%(total,average))

Enter three numbers separated by commas:100,150,170
total= 420,and average=140.000000

In [71]:
print('total=%d,and average=%.2f'%(total,average))

total=420,and average=140.00

In [74]:
radius=eval(input('Enter the radius:'))
area= radius*radius*3.14159
perimeter=2*3.14159*radius
print('Area=%2f'%(area))
print('Perimeter=%2f'%(perimeter))

Enter the radius:5
Area=78.539750
Perimeter=31.415900

In [75]:
import math
radius=eval(input('Enter the radius:'))
area= radius*radius*math.pi
perimeter=2*math.pi*radius
print('Area=%.2f'%(area))

Enter the radius:5
Area=78.54

In [76]:
# This program display learning Python now!, and Python is fun.

In [78]:
'''
This program display learning Python now!,
and Python is fun.
'''

'\nThis program display learning Python now!,and Python is fun.\n'

In [81]:
# input 3 integers then calculate total and average 
num1,num2,num3=eval(input('Enter three numbers separated by coomas:'))

# calculate total and average 
total=num2+num2+num3
average=total/2

# display total and average
print('total=%d,and average=%.2f'%(total,average))

Enter three numbers separated by coomas:100,120,140
total=380,and average=190.00

In [82]:
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [83]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [84]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [85]:
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [86]:
str1='Hello,'
str2="Python"
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

Hello,Python
300

In [88]:
str1='Hello,'+\
'Python,Let\'s learning'
str2=" Python now"
str3=str1+str2
print(str3)

Hello,Python,Let's learning Python now

In [89]:
a=100
b=3
a//=b
print(a)

a=100
a%=b
print(a)

a=100
a/=b
print(a)

33
1
33.333333333333336

In [90]:
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [91]:
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [92]:
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an integer:50
50 150
Enter a string:30
30i8

In [97]:
str1='Hello,'+\
   'Python,Let\'s learning'
str2=" Python now"
str3=str1+str2
print(str3)

Hello,Python,Let's learning Python now

In [102]:
# Convert Fahrenheit to Celsius
print(5/9*212-32)

85.77777777777779

In [106]:
# change a and b
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [110]:
 import os

SyntaxError: invalid syntax (<ipython-input-110-ee62dbe5c243>, line 1)

In [112]:
 os.getcwd()

NameError: name 'os' is not defined

In [ ]:
import os

In [113]:
os.getcwd()

NameError: name 'os' is not defined